.bookingContainer {
   display: flex;
   justify-content: center;
   padding: 20px;
}

.eventsList {
   width: 45%;
   margin: 0 24px;

   .title {
    text-align: center;
   }
}

@media screen and (max-width: 920px) {
   .bookingContainer{
      flex-direction: column-reverse;
   }

   .eventsList {
      width: 90%;
   }
}
