@import './variables.scss';

.card {
   margin: 16px 0;
   background: #1c413b;
   color: #ebe0de;
   padding: 12px 24px 24px;
   border-radius: 24px;

   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
         padding: 0.5rem 2rem;
         border-radius: 2rem;
         font-size: 16px;
         font-weight: 700;
         cursor: pointer;
      }

      .btn {
         border: 2px solid $secondary;
         background-color: $background;
         color: $primary;
      }

      .disabledBtn{
         background-color: $secondary-light;
      }
   }
}
