.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.events-list, .selected-events {
  width: 45%;
}

.event-card, .selected-event {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* .event-card button, .selected-event button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
} */

.event-card button:hover, .selected-event button:hover {
  background-color: #0056b3;
}
